
__pycache__/
*.py[cod]
*$py.class


venv/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt


.ipynb_checkpoints/


data/

instance/
.webassets-cache


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db